# ── Secrets / Environment ─────────────────────────────────────
.env
*.pem
*.key
*.crt

# ── WordPress Sensitive Files ─────────────────────────────────
wp-config.php

# ── macOS ─────────────────────────────────────────────────────
.DS_Store

# ── Windows ─────────────────────────────────────────────────-
Thumbs.db

# ── Docker ────────────────────────────────────────────────────
nginx/ssl/
